@tailwind base;
@tailwind components;
@tailwind utilities;

/*  normalize  */

html,
body {
  height: 100%;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e7edf3 inset !important;
}
